---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import thinking from "../assets/images/thinking.webp";
import pil from "../assets/images/v.webp";
import pilhover from "../assets/images/vhover.webp";
---

<MainLayout>
  <h1 class="text-center">Hva undrer du deg over?</h1>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4 m-margin">
    <div class="max-w-4xl mx-auto my-8 p-voresm bg-blaa-300 rounded-card">
      <div class="space-y-4">
        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq1Button"
          >
            Hvad indebærer et abonnement?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />

              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq1Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Hver måned vil du som medlem af naturvinskassen modtage 3 flasker
              udvalgt vin, som alle er lavet ud fra et naturligt udgangspunkt.
              Derudover vil du modtage en opskrift, kreeret af en restaurant
              og/eller en kok, som vi har meget kær. Udførlige beskrivelser af
              vinene vil selvfølgelig også medfølge, hver måned! Ved første
              levering modtager du en specialdesignet proptrækker, så har du
              noget godt værktøj at gå i krig med.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq2Button"
          >
            Hvornår bliver min kasse så leveret?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq2Answer" class="faq-answer hidden px-4 py-2">
            <p>Du vil få din naturvinskasse leveret hver måned.</p>
          </div>
        </div>
        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq3Button"
          >
            Hvornår bliver min betaling trukket?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq3Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Din kasse vil blive leveret til dig, i starten af måneden.
              Bestiller du 'Strakslevering' ved oprettelse af dit medlemskab, så
              vil din kasse afsendes inden for 1 hverdag.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq4Button"
          >
            Hvad skal jeg gøre, hvis en vin er defekt?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq4Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Se, det er ikke så godt! Men det finder vi selvfølgelig en løsning
              på. Naturligvis hel uden meromkostning fra din side! Skriv os en
              mail på info@reduktivt.com, så finder vi ud af det.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq5Button"
          >
            Binder jeg mig i en bestemt periode?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq5Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Det gør du ikke, nej. Vi har ingen binding eller skjulte agendaer.
              Du kan melde dig fra eller sætte dit abonnement på pause, præcis
              når du vil.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq6Button"
          >
            Hvordan bliver min vin leveret?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq6Answer" class="faq-answer hidden px-4 py-2">
            <p class="max-w-xs">
              Afhentning Din naturvinskasse kan afhentes i Aarhus, Borggade 16.
              Hele danmark Din naturvinskasse leveres enten til DAO Pakkeshop
              (Gratis) eller via DAO hjemmelevering (tillæg). Du vælger din
              leveringsmetode når du bestiller dit abonnement. Cykelbude
              (hjemmelevering, Aarhus) Din vin bliver leveret med Velopak's
              cykelbude, direkte til din bopæl.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq7Button"
          >
            Kan man få leveret vin i hele landet?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq7Answer" class="faq-answer hidden px-4 py-2">
            <p>Vi leverer til alle danske brofaste øer.</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq8Button"
          >
            Kan jeg ændre min leveringsadresse?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq8Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Ja, du kan ændre leveringsadressen under administer din konto.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq9Button"
          >
            Hvordan opdaterer jeg mine private indstillinger?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq9Answer" class="faq-answer hidden px-4 py-2">
            <p>Du kan endre og se dit abonnement under administer din konto.</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq10Button"
          >
            Er der ekstra gebyrer ved levering?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq10Answer" class="faq-answer hidden px-4 py-2">
            <p>Nej, der er ingen ekstra gebyrer ved levering.</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-lilla-950-300 flex justify-between items-center group"
            id="faq11Button"
          >
            Hvordan afmelder jeg mit abonnement?
            <div class="relative w-4 h-4 ml-voresl">
              <Image
                src={pil}
                alt="pil"
                class="absolute inset-0 w-6 opacity-100 group-hover:opacity-0 mt-1 z-10"
              />
              <Image
                src={pilhover}
                alt="pil hover"
                class="absolute inset-0 w-6 opacity-0 group-hover:opacity-100 mt-1 z-10"
              />
            </div>
          </button>
          <div id="faq11Answer" class="faq-answer hidden px-4 py-2">
            <p>Du kan opsige dit abonnement under administer din konto.</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flex justify-center">
        <Image src={thinking} alt="vinglas" class="max-w-44 mt-voresl" />
      </div>
      <div class="bg-graa-200 rounded-card mt-38">
        <div class="p-4">
          <h3 class="text-xl font-bold text-center">Brug for hjælp?</h3>
          <p class="text-center">
            Skriv til os her og vi vender tilbage hurtigst muligt
          </p>

          <form class="max-w-sm mx-auto">
            <div class="mb-5">
              <label
                for="text"
                class="block mb-2 text-sm font-medium dark:text-white"></label>
              <input
                type="text"
                id="text"
                class="bg-graa-200 border border-textfarve-lilla-950 text-sm rounded-lg focus:ring-lilla-950-950 focus:border-lilla-950-950 block w-full p-2.5 dark:bg-lilla-950-950 dark:border-lilla-950-600 dark:placeholder-lilla-950-400 dark:text-white dark:focus:ring-lilla-950-950 dark:focus:border-lilla-950-950"
                required
                placeholder="Dit navn"
              />
            </div>
            <div class="mb-5">
              <label
                for="email"
                class="block mb-2 text-sm font-medium dark:text-white"></label>
              <input
                type="email"
                id="email"
                class="bg-graa-200 border border-textfarve-lilla-950 rounded-lg focus:ring-lilla-950-950-950 focus:border-lilla-950-950-950 block w-full p-2.5 dark:bg-lilla-950-950-950 dark:border-lilla-950-950-600 dark:placeholder-lilla-950-950-400 dark:text-white dark:focus:ring-lilla-950-950-950 dark:focus:border-lilla-950-950-950"
                placeholder="Din email"
                required
              />
            </div>
            <div class="max-w-sm mx-auto">
              <label
                for="message"
                class="block mb-2 text-sm font-medium text-lilla-950-950-900 dark:text-white"
              ></label>
              <textarea
                id="message"
                rows="4"
                class="bg-graa-200 border border-textfarve-lilla-950-950 text-sm rounded-lg focus:ring-lilla-950-950-950 focus:border-lilla-950-950-950 block w-full p-2.5 dark:bg-lilla-950-950-950 dark:border-lilla-950-950-600 dark:placeholder-lilla-950-950-400 dark:text-white dark:focus:ring-lilla-950-950-950 dark:focus:border-lilla-950-950-950"
                placeholder="Dit spørgsmål..."></textarea>
            </div>
          </form>
          <div class="text-center m-voress">
            <a href="/bestil"
              ><Button variant="secondary">Find dit abonnement</Button></a
            >
          </div>
        </div>
      </div>
    </div>

    <script type="module" client:load>
      function toggleAnswer(buttonId, answerId) {
        const button = document.getElementById(buttonId);
        const answer = document.getElementById(answerId);
        const arrow = button.querySelector(".faq-arrow");

        answer.classList.toggle("hidden");
        arrow.innerHTML = answer.classList.contains("hidden")
          ? "&#9660;"
          : "&#9650;";
      }

      for (let i = 1; i <= 11; i++) {
        const buttonId = `faq${i}Button`;
        const answerId = `faq${i}Answer`;
        document.getElementById(buttonId).addEventListener("click", () => {
          toggleAnswer(buttonId, answerId);
        });
      }
    </script>
  </section></MainLayout
>
