---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import pil from "../assets/images/arrow.webp";
import pil2 from "../assets/images/arrowtwo.webp";
import drop from "../assets/images/drop-01.webp";
import spilling from "../assets/images/spilling.webp";
import gift from "../assets/images/poisen.webp";
import bobler from "../assets/images/tasty.webp";
import hand from "../assets/images/spin.webp";
import bil from "../assets/images/car.webp";
import sale from "../assets/images/sale.webp";
import glas from "../assets/images/glass-01.webp";
import join from "../assets/images/join.webp";
import wine from "../assets/images/wine.webp";
import lillepil from "../assets/images/v.webp";
import kasse from "../assets/images/deliver.webp";
import star from "../assets/images/star.webp";
import Card from "../components/Card.astro";
import Heroindex from "../components/Heroindex.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Button from "../components/Button.astro";
import NyhetsbrevPopup from "../components/NyhetsbrevPopup.astro";
import SectionCard from "../components/SectionCard.astro";
import Drop from "../components/Drop.astro";
---
<a href="#top" class="fixed bottom-4 right-4">
  <Image src={lillepil} alt="til toppen" class="w-10 h-8 hover:opacity-100 transition-opacity rotate-180 opacity-50" />
</a>
<NyhetsbrevPopup />

<MainLayout title="NATURVINSKASSEN">
  <section class="">
    <Heroindex />
    <div class="flex justify-center items-center my-voresxs">
      <Image src={pil} alt="pil" class="max-w-voresm" />
    </div>
    <article class="bg-blaa-300 px-margin">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center">
        <div class="flex justify-center">
          <Image src={join} alt="vinkasse" class="p-10" />
        </div>
        <div class="flex flex-col justify-center p-28">
          <h2 class="text-center">JOIN THE CLUB!</h2>
          <p class="my-voresxs">
            Modtag nøje udvalgte flasker med naturvin hver måned og udbred dine
            smagsoplevelser og viden omkring naturvin. Kom tæt på vinbønderne og
            få et autentisk indblik i den naturlige vinverden, måned efter
            måned.
            <p class="pb-voresxs">
              Du kan vælge mellem 2-6 flasker pr/mnd til en pris fra kun 300dkk.
            </p>
          </p>
          <div class="max-w-xl mx-auto block md:hidden">
            <a href="/bestil"
              ><Button variant="mobileprimary">Find dit abonnement</Button></a
            >
          </div>
          <div class="max-w-xl mx-auto md:block hidden">
            <a href="/bestil"
              ><Button variant="primary">Find dit abonnement</Button></a
            >
          </div>
        </div>
      </div>
    </article>

    <article class="mt-voresl px-margin">
      <div class="flex justify-center">
        <Image src={spilling} alt="mand der spiller vin" class="max-w-voresl" />
      </div>
      <h1 class="text-center pb-voresl">Hvorfor naturvinskassen?</h1>
      <!-- <Drop /> -->




 <!-- Sektion, hvor billedet skal vises -->
 <div id="special-section" class=" relative">




  <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
    <div class="mx-auto">
      <div class="flex justify-center">
        <Image src={bil} alt="bil" class="w-64 pb-voress" />
      </div>
      <h3 class="text-center">Fri levering & ingen binding</h3>
      <p class="py-voresxs mx-voress">
        Naturvin leveret til dig, fragtfrit hver måned! Vi leverer
        selvfølgelig til alle afkroge af Danmark, uden undtagelser.
      </p>
      <ul class="mx-voress">
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />
          Ingen binding
        </li>

        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Sæt på pause når du ønsker.
        </li>
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Fri fragt.
        </li>
      </ul>
    </div>
    <div></div>
  </div>
  <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
    <div></div>
    <div>
      <div class="flex justify-center">
        <Image src={sale} alt="mand med skilt" class="w-44 pb-voress" />
      </div>
      <h3 class="text-center">Medlemsfordele</h3>
      <p class="py-voresxs mx-voress">
        Vi sætter rigtig stor pris på vores medlemmer. Det synes vi skal
        værdsættes. Derfor kan man som abonnent, se frem til følgende
        fordele:
      </p>
      <ul class="mx-voress">
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />10% på køb over 500 i butik/webshop.
        </li>
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Månedlige medlemstilbud.
        </li>
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Forkøbsret på allokationsvine.
        </li>
      </ul>
    </div>
  </div>
  <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
    <div>
      <div class="flex justify-center">
        <Image src={kasse} alt="kasse med vin" class="w-64 pb-voress" />
      </div>
      <h3 class="text-center">Fra os til jer</h3>
      <p class="py-voresxs mx-voress">
        Vores vurdering er, at desto flere goder der er ved et abonnement,
        desto sjovere er det at være med. Derfor kan man som abonnent, også
        se frem til:
      </p>
      <ul class="mx-voress">
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Nøje udvalgte vine, hver måned
        </li>
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Udførlige vinbeskrivelser
        </li>
        <li class="py-1">
          <img
            class="star"
            src="/src/assets/images/star.webp"
            alt="Punktikon"
          />Jubilæumsgaver
        </li>
      </ul>
    </div>
    <div></div>
  </div>


  
</div>

<!-- Fast centreret billede -->
<a id="fixedImage" class="fixed inset-0 flex items-center justify-center top-[60%]">
  <Image src={drop} alt="dråbe" class="w-14 h-auto bottom-4" />
</a>





      <!-- <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div class="mx-auto">
          <div class="flex justify-center">
            <Image src={bil} alt="bil" class="w-64 pb-voress" />
          </div>
          <h3 class="text-center">Fri levering & ingen binding</h3>
          <p class="py-voresxs mx-voress">
            Naturvin leveret til dig, fragtfrit hver måned! Vi leverer
            selvfølgelig til alle afkroge af Danmark, uden undtagelser.
          </p>
          <ul class="mx-voress">
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />
              Ingen binding
            </li>

            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Sæt på pause når du ønsker.
            </li>
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Fri fragt.
            </li>
          </ul>
        </div>
        <div></div>
      </div>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div></div>
        <div>
          <div class="flex justify-center">
            <Image src={sale} alt="mand med skilt" class="w-44 pb-voress" />
          </div>
          <h3 class="text-center">Medlemsfordele</h3>
          <p class="py-voresxs mx-voress">
            Vi sætter rigtig stor pris på vores medlemmer. Det synes vi skal
            værdsættes. Derfor kan man som abonnent, se frem til følgende
            fordele:
          </p>
          <ul class="mx-voress">
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />10% på køb over 500 i butik/webshop.
            </li>
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Månedlige medlemstilbud.
            </li>
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Forkøbsret på allokationsvine.
            </li>
          </ul>
        </div>
      </div>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div>
          <div class="flex justify-center">
            <Image src={kasse} alt="kasse med vin" class="w-64 pb-voress" />
          </div>
          <h3 class="text-center">Fra os til jer</h3>
          <p class="py-voresxs mx-voress">
            Vores vurdering er, at desto flere goder der er ved et abonnement,
            desto sjovere er det at være med. Derfor kan man som abonnent, også
            se frem til:
          </p>
          <ul class="mx-voress">
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Nøje udvalgte vine, hver måned
            </li>
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Udførlige vinbeskrivelser
            </li>
            <li class="py-1">
              <img
                class="star"
                src="/src/assets/images/star.webp"
                alt="Punktikon"
              />Jubilæumsgaver
            </li>
          </ul>
        </div>
        <div></div>
      </div> -->


      
    </article>
    <div class="flex justify-center">
      <Image src={glas} alt="vinglas" class="max-w-44" />
    </div>
    <article class="px-margin bg-blaa-300 pb-voresxs">
      <div class="my-voresm">
        <h2 class="text-center pt-voresm pb-voress">
          Hvordan fungerer det så?
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="order-2">
            <Image
              src={wine}
              alt="vin der hældes op i glas"
              class="rounded max-w-[55%] mx-auto"
            />
          </div>
          <div class="order-1 px-voresxs">
            <h4 class="text-center pb-voresxs">Dit abonnement</h4>
            <p class="pb-voress">
              Som medlem, vil du hver måned modtage et nøje udvalg af naturvin
              direkte til din dør - hver måned. Fælles for alle flaskerne er, at
              det er nogle vine og nogle vinbønder, som vi har meget kært. Vi
              smager, søger, rejser og smager lidt mere. Alt dette, for at nå
              frem til det vi mener er det perfekte resultat.
            </p>
            <h4 class="text-center pb-voresxs">
              Hvad får du igennem dit abonnement
            </h4>
            <p>Med til hver måneds levering af naturvinskassen, medfølger:</p>
            <nav>
              <ul>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />
                  Uforglemmeligt gode vine, håndplukkede af os bag Naturvinskassen
                  direkte til din dør
                </li>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />Fri fragt og ingen betingelser
                </li>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />Beskrivelser af vinene og personerne bag produktionen
                </li>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />
                  Skræddersyede “kassetilbud”, kun til medlemmer af Naturvinskassen
                </li>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />Jubilæumsgaver
                </li>
                <li class="py-1">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />
                  Rabat på køb af vin i vores fysiske butik og på vores webshop
                </li>
                <li class="py-2">
                  <img
                    class="star"
                    src="/src/assets/images/star.webp"
                    alt="Punktikon"
                  />Forkøbsret på allokationsvine
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </article>

    <article class="px-margin pb-voress">
      <h2 class="text-center py-voress">Hvad er naturvin egentlig?</h2>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div></div>
        <div>
          <div class="flex justify-center">
            <Image src={gift} alt="giftflaske" class="max-w-voresl pb-voress" />
          </div>
          <h3 class="text-center">Ingen syntetiske stoffer</h3>
          <p class="py-voresxs">
            Naturvin laves med minimal intervention og uden syntetiske stoffer,
            modsat konventionel vin. Dette giver en mere rustik og naturlig
            karakter til vinen. Konventionel vin bruger kemiske hjælpemidler og
            tilsætningsstoffer for at sikre en ensartet og forudsigelig smag.
            Altså er naturvin uden manipulation
          </p>
        </div>
      </div>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div>
          <div class="flex justify-center">
            <Image src={bobler} alt="vin" class="max-w-voresm pb-voress" />
          </div>
          <h3 class="text-center">Giver Sprælske tendenser</h3>
          <p class="py-voresxs">
            Når vin forbliver vin, og ikke et produkt af tilsætningsstoffer og
            andet gift, kan der opstå magiske tilstande. Vinen er et resultat af
            naturen og den naturlige udvikling. Den kan give anledning til
            sprælske tendenser, men bestemt også anledning til elegance, renhed
            og kompleksitet. Det er vin der giver stof til eftertanke, tid til
            eftertænksomhed, og dansetrin du ikke havde den fjerneste idé om, at
            du havde.
          </p>
        </div>
        <div></div>
      </div>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div></div>
        <div>
          <div class="flex justify-center">
            <Image src={hand} alt="vinglas" class="max-w-44 pb-voress" />
          </div>
          <h3 class="text-center">Vinen bliver levende</h3>
          <p class="pt-voresxs pb-voresl">
            Fællesnævneren for alt den vin vi arbejder med, er først og fremmest
            at det skal smage godt! Ligeså vigtigt er det, at det er lavet med
            så lidt intervention og tilsætnin som muligt. Faktisk endda helst
            helt uden! Det er vigtigt for os, at vinen taler for sig selv, og
            dermed ikke bakkes op af et væld af tilsætningsstoffer. På den måde
            bliver vinen levende, personlig og ærlig. Det synes vi, er enormt
            afgørende.
          </p>
        </div>
      </div>
    </article>
    <Anmeldelser />
    <section class="px-margin mx-margin">
      <div class="ml-voresm">
        <h4 class="-rotate-12 pb-28">Lyder det som noget for dig?</h4>
        <Image src={pil2} alt="CTA-effekt" class="max-w-voresm ml-voresl" />
      </div>
    </section>
    <SectionCard />
  </section>



  <script>
    const fixedImage = document.getElementById('fixedImage');
    const section = document.getElementById('special-section');

    // Tjekker sektionens position, mens brugeren scroller
    window.addEventListener('scroll', () => {
      const sectionRect = section.getBoundingClientRect();

      // Hvis sektionen er synlig på skærmen, vis billedet
      if (sectionRect.top <= window.innerHeight && sectionRect.bottom >= 0) {
        fixedImage.style.display = 'flex'; // Viser billedet
      } else {
        fixedImage.style.display = 'none'; // Skjuler billedet
      }
    });
  </script>


  <!-- <script>
  import { inView, scroll } from "motion";

  inView(".dropinview", ({ target, inView }) => {
    if (inView) {
      target.classList.add(".sticky");
    } else {
      target.classList.remove(".sticky");
    }
  });

  // inView(".dropinview", () => {

  // });
</script> -->
</MainLayout>
<style>
  .star {
    width: auto;
    height: 20px;
    padding-right: 1rem;
  }
  li {
    display: flex;
    align-items: center;
  }
</style>
