---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import pil from "../assets/images/arrow.webp";
import spilling from "../assets/images/spilling.webp";
import gift from "../assets/images/poisen.webp";
import bobler from "../assets/images/tasty.webp";
import hand from "../assets/images/spin.webp";
import bil from "../assets/images/car.webp";
import sale from "../assets/images/sale.webp";
import glas from "../assets/images/glass-01.webp";
import kasse from "../assets/images/deliver.webp";
import Card from "../components/Card.astro";
import Heroindex from "../components/Heroindex.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="NATURVINSKASSEN">
  <article>
    <Heroindex />
    <div class="flex justify-center items-center my-voresxs">
      <Image src={pil} alt="pil" class="max-w-voresm" />
    </div>
    <section class="bg-blaa-300 px-margin">
      <div class="">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="flex justify-center">
            <Image src={pil} alt="pil" class="" />
          </div>
          <div class="">
            <h2 class="text-center">JOIN THE CLUB</h2>
            <p>
              Modtag nøje udvalgte flasker med naturvin hver måned og udbred
              dine smagsoplevelser og viden omkring naturvin. Kom tæt på
              vinbønderne og få et autentisk indblik i den naturlige vinverden,
              måned efter måned. Du kan vælge mellem 2-6 flasker pr/mnd til en
              pris mellem 300-600
            </p>
            <div class="max-w-xl">
              <a href="/bestil"
                ><Button variant="primary">Find dit abonnement</Button></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="flex justify-center">
        <Image src={spilling} alt="mand der spiller vin" class="max-w-voresl" />
      </div>
      <h1 class="text-center">Hvorfor naturvinskassen?</h1>
      <div>
        <div class="flex justify-center">
          <Image src={bil} alt="bil" class="max-w-voresl" />
        </div>
        <h3>Fri levering & ingen binding</h3>
        <p>
          Naturvin leveret til dig, fragtfrit hver måned! Vi leverer
          selvfølgelig til alle afkroge af Danmark, uden undtagelser.
        </p>
        <nav>
          <ul>
            <li>Ingen binding.</li>
            <li>Sæt på pause når du ønsker.</li>
            <li>Fri fragt.</li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="flex justify-center">
          <Image src={sale} alt="mand med skilt" class="max-w-voresl" />
        </div>
        <h3>Medlemsfordele</h3>
        <p>
          Vi sætter rigtig stor pris på vores medlemmer. Det synes vi skal
          værdsættes. Derfor kan man som abonnent, se frem til følgende fordele:
        </p>
        <nav>
          <ul>
            <li>10% på køb over 500 i butik/webshop.</li>
            <li>Månedlige medlemstilbud.</li>
            <li>Forkøbsret på allokationsvine.</li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="flex justify-center">
          <Image src={kasse} alt="kasse med vin" class="max-w-voresl" />
        </div>
        <h3>Fra os til jer</h3>
        <p>
          Vores vurdering er, at desto flere goder der er ved et abonnement,
          desto sjovere er det at være med. Derfor kan man som abonnent, også se
          frem til:
        </p>
        <nav>
          <ul>
            <li>Nøje udvalgte vine, hver måned</li>
            <li>Udførlige vinbeskrivelser.</li>
            <li>Jubilæumsgaver.</li>
          </ul>
        </nav>
      </div>
      <div class="flex justify-center">
        <Image src={glas} alt="vinglas" class="max-w-voresl" />
      </div>
    </section>
    <section class="">
      <div class="bg-blaa-300">
        <h2 class="text-center">Hvordan fungerer det så?</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="">
            <h4 class="text-center">Dit abonnement</h4>
            <p>
              Som medlem, vil du hver måned modtage et nøje udvalg af naturvin
              direkte til din dør - hver måned. Fælles for alle flaskerne er, at
              det er nogle vine og nogle vinbønder, som vi har meget kært. Vi
              smager, søger, rejser og smager lidt mere. Alt dette, for at nå
              frem til det vi mener er det perfekte resultat.
            </p>
            <h4 class="text-center">Hvad får du igennem dit abonnement</h4>
            <p>
              Med til hver måneds levering af naturvinskassen, medfølger:
              Uforglemmeligt gode vine, håndplukkede af os bag Naturvinskassen
              direkte til din dør - første dag i hver måned Fri fragt og ingen
              betingelser Beskrivelser af vinene og personerne bag produktionen
              Skræddersyede “kassetilbud”, kun til medlemmer af Naturvinskassen
              Derudover får du som medlem også følgende fordele: Jubilæumsgaver
              Rabat på køb af vin i vores fysiske butik og på vores webshop
              Forkøbsret på allokationsvine
            </p>
          </div>
          <div>
            <p>bilde her</p>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <h1 class="text-center">Hvad er naturvin egentlig?</h1>
      <div>
        <div class="flex justify-center">
          <Image src={gift} alt="vinglas" class="max-w-voresl" />
        </div>
        <h3 class="text-center">Ingen syntetiske stoffer</h3>
        <p>
          Naturvin laves med minimal intervention og uden syntetiske stoffer,
          modsat konventionel vin. Dette giver en mere rustik og naturlig
          karakter til vinen. Konventionel vin bruger kemiske hjælpemidler og
          tilsætningsstoffer for at sikre en ensartet og forudsigelig smag.
          Altså er naturvin uden manipulation
        </p>
      </div>
      <div>
        <div class="flex justify-center">
          <Image src={bobler} alt="vinglas" class="max-w-voresl" />
        </div>
        <h3 class="text-center">Giver Sprælske tendenser</h3>
        <p>
          Når vin forbliver vin, og ikke et produkt af tilsætningsstoffer og
          andet gift, kan der opstå magiske tilstande. Vinen er et resultat af
          naturen og den naturlige udvikling. Den kan give anledning til
          sprælske tendenser, men bestemt også anledning til elegance, renhed og
          kompleksitet. Det er vin der giver stof til eftertanke, tid til
          eftertænksomhed, og dansetrin du ikke havde den fjerneste idé om, at
          du havde.
        </p>
      </div>
      <div>
        <div class="flex justify-center">
          <Image src={hand} alt="vinglas" class="max-w-voresl" />
        </div>
        <h3 class="text-center">Vinen bliver levende</h3>
        <p>
          Fællesnævneren for alt den vin vi arbejder med, er først og fremmest
          at det skal smage godt! Ligeså vigtigt er det, at det er lavet med så
          lidt intervention og tilsætnin som muligt. Faktisk endda helst helt
          uden! Det er vigtigt for os, at vinen taler for sig selv, og dermed
          ikke bakkes op af et væld af tilsætningsstoffer. På den måde bliver
          vinen levende, personlig og ærlig. Det synes vi, er enormt afgørende.
        </p>
      </div>
    </section>
    <Anmeldelser />
    <section>
      <p class="ml-voresm">pil her</p>
      <p class="ml-voresm">Lyder det som noget for dig?</p>
    </section>
    <section>
      <h2 class="text-center">Bestil dit abonnement her</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
        <Card
          title="Den lille"
          image="https://via.placeholder.com/300/ff7f7f"
        />
        <Card
          title="Den mellomstore"
          image="https://via.placeholder.com/300/7f7fff"
        />
        <Card
          title="Den store"
          image="https://via.placeholder.com/300/7fff7f"
        />
        <Card
          title="Skræddersy"
          image="https://via.placeholder.com/300/ffff7f"
        />
      </div>
    </section>
  </article>
</MainLayout>
