---
const { title = "Standard Tittel", image = "https://via.placeholder.com/300" } =
  Astro.props;

const cardStyling =
  "bg-white rounded-lg  p-4 transition-transform duration-300 transform hover:scale-105 hover:text-farvenavn-roed";

const titleStyling = "text-xl font-semibold mb-2 hover:text-farvenavn-roed";

const imageStyling = "w-full h-auto object-cover rounded-md mb-4";
---

<div class={cardStyling}>
  <img src={image} alt={title} class={imageStyling} />

  <h3 class={titleStyling}>{title}</h3>
</div>
