---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import login from "../assets/images/login.webp";
import loginHover from "../assets/images/loginred.webp";
import cart from "../assets/images/cart.webp";
import cartHover from "../assets/images/cartred.webp";
import pil from "../assets/images/v.webp";
import kryds from "../assets/images/x.webp";
import pilhover from "../assets/images/vhover.webp";
---

<div class="z-50 z-9 ">
  <div class="fixed top-0 left-0 w-full z-10 bg-gul-50">

    <div class="flex justify-between items-center py-4 ml-3 px-4 z-15">
      <a href="/" class="text-lg font-bold">
        <h4 class="text-lilla-950 hover:text-roed-600">Naturvinskassen</h4></a
      >
  
      <button
        id="hamburgerButton"
        class="block md:hidden text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
  
      <div class="space-x-8 flex items-center hidden md:flex">
        <div class="max-w-xl mx-auto">
          <a href="/bestil"><Button variant="primary">Find din kasse!</Button></a>
        </div>
  
        <div class="relative">
          <div class="flex">
            <button
              id="naturvinskassenDropdown"
              class="flex items-center gap-2 group"
            >
              <p class="text-lilla-950 group-hover:text-roed-600 navigation">
                Om abonnementerne
              </p>
              <div class="relative w-6 h-6">
                <Image
                  src={pil}
                  alt="dropdown"
                  class="absolute inset-0 max-w-4 group-hover:opacity-0 mt-1.5"
                />
                <Image
                  src={pilhover}
                  alt="dropdown hover"
                  class="absolute inset-0 max-w-4 opacity-0 group-hover:opacity-100 mt-1.5"
                />
              </div>
            </button>
          </div>
          <div
            id="dropdownMenu"
            class="hidden absolute right-0 mt-2 w-48 bg-graa-200 rounded-lg z-40"
          >
            <ul class="py-2">
              <li>
                <a href="/faq" class="block px-4 py-2 hover:text-roed-600">FAQ</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:text-roed-600"
                  >Strakslevering</a
                >
              </li>
  
              <li>
                <a href="#" class="block px-4 py-2 hover:text-roed-600">Kontakt</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:text-roed-600"
                  >Betingelser</a
                >
              </li>
            </ul>
          </div>
        </div>
        <a href="/omos" class="">
          <p class="text-lilla-950 hover:text-roed-600 navigation">
            Hvem er vi?
          </p></a
        >
        <a href="#" id="toggleLogin" class="group cursor-pointer inline-block">
          <Image
            src={login}
            alt="Login"
            class="block group-hover:hidden max-w-voress scale-40"
          />
  
          <Image
            src={loginHover}
            alt="Login Hover"
            class="hidden group-hover:block max-w-voress scale-40"
          />
        </a>
  
        <a
          href="/total"
          id="toggleDrawer"
          class="group cursor-pointer inline-block"
        >
          <Image
            src={cart}
            alt="Kurv"
            class="block group-hover:hidden max-w-voress scale-30"
          />
  
          <Image
            src={cartHover}
            alt="Kurv Hover"
            class="hidden group-hover:block max-w-voress scale-30"
          />
        </a>
      </div>
    </div>
  </div>


  <div id="mobileMenu" class="md:hidden hidden bg-graa-200 w-full">
    <ul class="space-y-4 py-4 navigation">
      <li>
        <a href="/bestil"><Button variant="primary">Join the club!</Button></a>
      </li>
      <li>
        <a href="/omos" class="block px-4 py-2"
          ><p class="hover:text-roed-600 navigation">Hvem er vi?</p></a
        >
      </li>
      <li>
        <a href="#" id="mobileDropdownLink" class="block px-4 py-2">
          <div class="flex">
            <button
              id="naturvinskassenDropdown"
              class="flex items-center gap-2 group"
            >
              <p class="text-lilla-950 group-hover:text-roed-600 navigation">
                Om abonnementerne
              </p>
              <div class="relative w-6 h-6">
                <Image
                  src={pil}
                  alt="dropdown"
                  class="inset-0 max-w-5 group-hover:opacity-0 mt-1"
                />
                <Image
                  src={pilhover}
                  alt="dropdown hover"
                  class="inset-0 max-w-5 opacity-0 group-hover:opacity-100 mt-1"
                />
              </div>
            </button>
          </div>

          <div id="mobileDropdownMenu" class="hidden bg-graa-200 rounded-lg">
            <ul class="space-y-2 py-2 text-sm">
              <li>
                <a href="/faq" class="block px-4 py-2">FAQ</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2">Strakslevering</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2">Kontakt</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2">Betingelser</a>
              </li>
            </ul>
          </div>
        </a>
        <li>
          <a href="/konto" class="block px-4 py-2">
            <p class="navigation hover:text-roed-600">Login</p>
          </a>
        </li>
        <li>
          <a href="#" id="mobileToggleDrawer" class="block px-4 py-2 w-86">
            <p class="navigation hover:text-roed-600">Kurv</p></a
          >
        </li>
      </li>
    </ul>
  </div>

  <div
    id="drawer"
    class="fixed top-20 right-0 z-40 w-96 h-screen bg-graa-200 transform translate-x-full transition-transform duration-300 ease-in-out rounded-form px-8"
  >
    <div class="p-4">
      <p class="">Kurv(0)</p>
        <button
        id="closeDrawer"
        class="text-lilla-950 bg-transparent rounded-lg text-sm absolute top-2.5 right-2.5 group"
        >
        <Image
        src={kryds}
        alt="luk"
        class="w-6 opacity-100 group-hover:opacity-0 transition-opacity"
        />
        </button>

    </div>
    <ul class="py-4 space-y-2 font-medium">
      <li>
        <a href="#" class="flex items-center p-2 rounded-lg group">
          <h4>Det ser ud som at din kurv er tom...</h4>
        </a>
      </li>
      <li>
        <div class="">
          <a href="/bestil"
            ><Button variant="primary">Find dit abonnement</Button></a
          >
        </div>
      </li>
    </ul>
  </div>

  <div
    id="loginDrawer"
    class="fixed top-20 right-0 z-40 w-96 h-screen bg-graa-200 transform translate-x-full transition-transform duration-300 ease-in-out rounded-form px-8"
  >
    <div class="p-4">
      <h1 class="text-xl font-bold text-center">Hej!</h1>

      <form class="">
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium"></label>
          <input
            type="email"
            id="email"
            class="border bg-gul-25 border-lilla-950 text-sm rounded-lg block w-full p-2.5"
            placeholder="Din email"
            required
          />
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2 text-sm font-medium"></label>
          <input
            type="password"
            id="password"
            class=" bg-gul-25 border border-lilla-950 text-sm rounded-lg block w-full p-2.5"
            required
            placeholder="Adgangskode"
          />
        </div>
        <div class="flex items-start mb-5">
          <div class="flex items-center h-5">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-lilla-950 rounded bg-gray-50"
              required
            />
          </div>
          <label for="remember" class="ms-2 text-sm font-medium">Husk mig</label
          >
        </div>
        <div class="text-center pb-voresxs">
          <a href="/konto" class="">
            klik her
          </a>
        </div>
      </form>
      <p >Har du glemt din adgangskode? <p class="underline pb-voresxs">Klik her</p></p>
      <p>Har du ikke en konto? <p class="underline">Tilmeld dig her</p></p>
    </div>

    <button
    id="closeLoginDrawer"
    class="text-lilla-950 bg-transparent rounded-lg text-sm absolute top-2.5 right-2.5 group"
    >
    <Image
    src={kryds}
    alt="luk"
    class="w-6 opacity-100 group-hover:opacity-0 transition-opacity"
    />
    </button>

    <script>
      document
        .getElementById("hamburgerButton")
        .addEventListener("click", () => {
          const mobileMenu = document.getElementById("mobileMenu");
          mobileMenu.classList.toggle("hidden");
        });

      document
        .getElementById("mobileDropdownLink")
        .addEventListener("click", (e) => {
          const mobileDropdownMenu =
            document.getElementById("mobileDropdownMenu");
          mobileDropdownMenu.classList.toggle("hidden");
        });

      document
        .getElementById("naturvinskassenDropdown")
        .addEventListener("click", (e) => {
          const dropdownMenu = document.getElementById("dropdownMenu");
          dropdownMenu.classList.toggle("hidden");
        });

      document.addEventListener("DOMContentLoaded", () => {
        const toggleDrawerButton = document.getElementById("toggleDrawer");
        const toggleLoginButton = document.getElementById("toggleLogin");
        const closeDrawerButton = document.getElementById("closeDrawer");
        const closeLoginButton = document.getElementById("closeLoginDrawer");
        const drawer = document.getElementById("drawer");
        const loginDrawer = document.getElementById("loginDrawer");

        toggleDrawerButton.addEventListener("click", (e) => {
          e.preventDefault();
          drawer.classList.remove("translate-x-full");
          drawer.classList.add("translate-x-0");
        });

        toggleLoginButton.addEventListener("click", () => {
          loginDrawer.classList.remove("translate-x-full");
          loginDrawer.classList.add("translate-x-0");
        });
        closeDrawerButton.addEventListener("click", () => {
          drawer.classList.add("translate-x-full");
          drawer.classList.remove("translate-x-0");
        });

        closeLoginButton.addEventListener("click", () => {
          loginDrawer.classList.add("translate-x-full");
          loginDrawer.classList.remove("translate-x-0");
        });
      });
    </script>
  </div>
</div>
